@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.loginCard {
    max-width: 580px;
    max-height: 490px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 75px;
    border: 1px solid rgba(0, 0, 0, 0.12);;
}

.ptlogo {
    width: 60%;
    margin: 0 auto 8% auto;
    filter: invert(52%) sepia(79%) saturate(2930%) hue-rotate(22deg) brightness(97%) contrast(91%);
}

h1.loginHeader {
    text-align: center;
    margin-bottom: 6%;
    color: #B8860C;
}

.loginInput {
    margin-bottom: 3%;
    border-color:#B8860C;
    font-size: 1.2rem;
}

.loginButton {
    background-color:#B8860C;
    color: white;
    border: none;
    min-width: 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}